.new-desk {
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
}

.desk-name {
    width: 90%; 
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box; 
}

.cancel-desk, .save-desk {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-desk {
    background-color: #ccc;
    margin-right: 16px;
}

.save-desk {
    background-color: #007bff;
    color: white;
}
