.create-desk-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.new-desk-block {
    margin-bottom: 20px;
}

.board-block {
    background-color: #f0f0f0;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.board-block img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.created-desks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.created-desk {
    margin: 10px;
}

.created-desk h3 {
    background-color: #f0f0f0;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: black;
}

.created-desk a {
    text-decoration: none;
    color: black;
}

.created-desk a:hover {
    color: #007bff;
}
